@{
}
@model SeaMI.Models.Login


<h2>Criar Novo login</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="dsEmail" class="control-label">Email</label>>
        <input asp-for="dsEmail" class="form-control" />
        <span asp-validation-for="dsEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="dsSenha" class="control-label"></label>
        <input asp-for="dsSenha" class="form-control" />
        <span asp-validation-for="dsSenha" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="cdUsuario" class="control-label">UsuarioID</label>
        <select asp-for="cdUsuario" class="form-control">
            <option value="">Selecione...</option>
            @foreach (var Usuario in ViewBag.Usuarios)
            {
                <option value="@Usuario.cdUsuario">@Usuario.cdUsuario</option>
            }
        </select>
        <span asp-validation-for="cdUsuario" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>
