@model SeaMI.Models.Usuario

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nmUsuario" class="control-label">Nome do usuario</label>
                <input asp-for="nmUsuario" class="form-control" />
                <span asp-validation-for="nmUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nrRG" class="control-label">RG</label>
                <input asp-for="nrRG" class="form-control" />
                <span asp-validation-for="nrRG" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nrCpf" class="control-label">CPF</label>
                <input asp-for="nrCpf" class="form-control" />
                <span asp-validation-for="nrCpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dsNacionalidade" class="control-label">Nacionalidade</label>
                <input asp-for="dsNacionalidade" class="form-control" />
                <span asp-validation-for="dsNacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nrTelefone" class="control-label">Telefone</label>
                <input asp-for="nrTelefone" class="form-control" />
                <span asp-validation-for="nrTelefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtNascimento" class="control-label">Data de nascimento</label>
                <input asp-for="dtNascimento" class="form-control" />
                <span asp-validation-for="dtNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtCadastro" class="control-label">Data de cadastro</label>
                <input asp-for="dtCadastro" class="form-control" />
                <span asp-validation-for="dtCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
