@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <a asp-controller="Logins" asp-action="Index">Login</a>
    </div>
    <div>
        <a asp-controller="Usuarios" asp-action="Index">Usuario</a>
    </div>
    <div>
        <a asp-controller="Relatorios" asp-action="Index">Relatorio</a>
    </div>
    <div>
        <a asp-controller="AmostraAguas" asp-action="Index">Amostras</a>
    </div>

</div>
