@model SeaMI.Models.Sensores

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sensores</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="cdSensor" />
            <div class="form-group">
                <label asp-for="cdUsuario" class="control-label"></label>
                <select asp-for="cdUsuario" class="form-control" asp-items="ViewBag.cdUsuario"></select>
                <span asp-validation-for="cdUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nmTecnologia" class="control-label"></label>
                <input asp-for="nmTecnologia" class="form-control" />
                <span asp-validation-for="nmTecnologia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dsSensor" class="control-label"></label>
                <input asp-for="dsSensor" class="form-control" />
                <span asp-validation-for="dsSensor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dtImplementacao" class="control-label"></label>
                <input asp-for="dtImplementacao" class="form-control" />
                <span asp-validation-for="dtImplementacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
